hello comments index

<table>
  <tr>
    <th width="200">Name</th>
    <th width="200"></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.body %></td>
    <td><%= link_to 'Show', comment %> | <%= link_to 'Edit', edit_comment_path(comment) %> | <%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_comment_path %>
