
  <p><%= f.label :user_name %>
  <%= f.text_field :user_name %></p>

  <p><%= f.label :email %>
  <%= f.email_field :email %></p>

  <p><%= f.label :first_name %>
  <%= f.text_field :first_name %></p>
  
  <p><%= f.label :middle_name %>
  <%= f.text_field  :middle_name %></p>
  
  <p><%= f.label :last_name %>
  <%= f.text_field  :last_name %></p>
  
  <p><%= f.label :admin %>
  <%= f.check_box :admin %></p>

  <p><%= f.label :password %>
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></p>
  
  <% if not @roles.empty? %>
  <div class="form_role">
  <%= f.label "Role"%>
  <%= f.select :role_id, options_from_collection_for_select(@roles, 'id', 'name')%>
  </div>
  <% end %>
  
  <p><%= f.label :birthdate %>
  <%= f.text_field :birthdate %></p>

  <p class="submit-button right"><%= f.submit "Send" %></p>


