
  <p><%= f.label :name %>
  <%= f.text_field :name %></p>

  <p><%= f.label :description %>
  <%= f.text_field :description %></p>
  
  <p><%= f.label :status %>
  <%=  f.select :status, options_for_select('Active' => 'Active', 'Closed' => 'Closed') %></p>

  <p><%= f.label :priority %>
  <%=  f.select :priority, options_for_select('Minor' => 'Minor', 'Normal' => 'Normal', 'Major' => 'Major', 'Practical' => 'Practical') %></p>
  
  <p><%= f.label :tracker %>
  <%=  f.select :tracker, options_for_select('Bug' => 'Bug', 'Task' => 'Task') %></p>

  <p class="submit-button right"><%= f.submit %></p>
