<% form_tag tickets_path, :method => 'get' do %>
  <p>
  <h4>Filter Search</h4>
  name: <%= text_field_tag :name %>
  date: <%= text_field_tag :date %>
  <%=  select_tag :status, options_for_select('-- Status --' => '', 'Active' => 'Active', 'Closed' => 'Closed') %>
  <%=  select_tag :priority, options_for_select('-- Priority --' => '', 'Minor' => 'Minor', 'Normal' => 'Normal', 'Major' => 'Major', 'Practical' => 'Practical') %>
  <%= submit_tag "Search", :name => nil, :date => nil, :status => nil, :priority => nil %>
  </p>
<% end %>

<table class="content_tbl">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Priority</th>
    <th>Tracker</th>
    <th>Assigned To</th>
    <th>Date Created</th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr class="<%= cycle("", "even")%>">
    <td><%= ticket.name %></td>
    <td><%= ticket.description %></td>
    <td><%= ticket.status %></td>
    <td><%= ticket.priority %></td>
    <td><%= ticket.tracker %></td>
    <% @users.each do |user| %>
			<td><%= user.full_name if user.id.eql?(ticket.assigned_to) %></td>
		<% end %>
		<td><%= ticket.created_at.to_date %></td>
    <td><%= link_to 'Show', ticket %> | <%= link_to 'Edit', edit_ticket_path(ticket) %> | <%= link_to 'Destroy', ticket, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket', new_ticket_path %>
