<div class="grid_12">

<h2><%= @project.name%></h2>

<ul id="proj_nav">

  <li><%= link_to "Overview", project_overview_path(@project), :remote => true, :id => "selected", :remote => true %></li>
  
  <li><%= link_to "Tickets", project_tickets_path(@project), :remote => true %></li>
  
  <li><%= link_to "Create Tickets", new_project_ticket_path(@project), :remote => true %></li>
  
  <li><a href="#">Members</a></li>
  
</ul>
</div>

<div class="clear"></div>



<div class="project_page_content grid_12">
  
  <%= render :partial => 'overview', :locals => { :project => @project }%>
  
</div>
