<!--<%= link_to "Sign Up", new_user_registration_path%>-->

<% if not user_signed_in?%>
<div id="sign-in-form"> 
<h1>Sign In</h1>
  <%= form_for("user", :url => user_session_path) do |f| %>
  
    <p><%= f.label :email %>
    <%= f.text_field :email %></p>
    
    
  <p><%= f.label :password %>
  <%= f.password_field :password %></p>
  
  
  <p>
  <%= f.label :remember_me %>
  <%= f.check_box :remember_me, :id => "remember_me"%></p>
  
  
  <%= f.submit 'Sign in' %>
  <% end %>
  <%= link_to "Forgot your password?", new_password_path('user') %>
  </div>
<% else %>
<h1>Hi <%= current_user.first_name %></h1>

What do you want to do:
<br /><%= link_to "User List", users_path %>
<br /><%= link_to "Go to Project List", projects_path %>
<br /><%= link_to "Go to Ticket List", tickets_path %>
<% end %>
